@use '../variables/colors' as color;

.map-stop-label {
    display: grid;
    transform-origin: left top;
    font-weight: bold;
    min-width: max-content;

    >div {
        background: rgba(47, 79, 79, .2);
        padding: 5px;
        border-radius: 5px;

        .start-time {
            color: color.$mid-opacity-black-color;

            &.early {
                color: color.$warning-color;
            }

            &.late {
                color: color.$error-color;
            }
        }


    }
}

.map-vehicle-label {
    display: grid;
    transform-origin: center center;

    >div {
        position: relative;

        div:first-child {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            background: rgba(47, 79, 79, .4);
            padding: 2px;
            border-radius: 5px;
        }

        >i {
            font-size: 20px;
        }

        div:last-child {
            position: absolute;
            bottom: -25px;
            left: 50%;
            display: flex;
            row-gap: 5px;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            background: rgba(47, 79, 79, .4);
            padding: 2px;
            border-radius: 5px;
        }
    }


}