@use '../variables/colors' as color;

map {
    .map-container {
        .leaflet-control-attribution {
            font-size: 10px;
            background-color: transparent;
            opacity: .5;
        }

        .map-stop-label {
            display: grid;
            transform-origin: left top;
            font-weight: bold;
            min-width: max-content;

            >div {
                background: color.$map-label-background-color;
                text-shadow: 0 1px 2px rgba(255, 255, 255, .8);
                padding: 5px;
                border-radius: 5px;

                &.light {
                    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
                }

                .start-time {
                    color: color.$success-color;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);


                    &.early {
                        color: color.$warning-color;
                    }

                    &.late {
                        color: color.$error-color;
                    }
                }
            }
        }

        .map-vehicle-label {
            position: relative;
            display: grid;
            transform-origin: center center;

            .name {
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: bold;
                background: color.$map-label-background-color;
                padding: 2px;
                border-radius: 5px;

                &.light {
                    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
                }
            }

            i {
                font-size: 20px;
            }

            .direction-container {
                position: absolute;
                top: -14px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;

                .inner-circle {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 3px;
                    // background: rgba(200, 200, 0, 0.2);
                    border-radius: 50%;
                }

                .arrow {
                    position: absolute;
                    top: -18px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    // background-color: red;
                    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
                }
            }
        }
    }
}