<div class="h-full overflow-auto px-4 pb-5 grid">
    <div class="grid grid-cols-[1fr_1fr] pb-5 gap-4">
        <ng-container *ngFor="let setting of APP_SETTINGS | keyvalue: orderByIndex; trackBy: trackSetting">
            <div class="self-center">{{setting.value.label}}</div>

            @switch (setting.value.field) {
            @case ('segmented') {
            <!--nz-segmented [nzOptions]="setting.value.options" [nzBlock]="true" [ngModel]="setting.key"-->
            <nz-segmented [nzOptions]="setting.value.options" [nzBlock]="true" [ngModel]="settingsModel[setting.key]"
                (nzValueChange)="settingValueChange($event, setting.key)">
            </nz-segmented>
            }
            @case ('slider') {
            <nz-slider [ngClass]="'!ml-5 !mr-5'" [nzDots]="false" [nzMin]="setting.value.min" [nzMax]="setting.value.max"
                [nzStep]="setting.value.step" [nzMarks]="setting.value.marks" [ngModel]="settingsModel[setting.key]"
                (nzOnAfterChange)="settingValueChange($event, setting.key)">
            </nz-slider>
            }
            }
        </ng-container>
        <div>Favourites</div>
        <button nz-button nzType="primary" (click)="openFavouritesModal()">Edit</button>
    </div>

    @if (settingsChanged) {
    <div class="flex gap-1 justify-between">
        <button nz-button nzDanger nzType="primary" [nzSize]="'large'" [nzShape]="'round'" (click)="cancelChanges()">
            Cancel
        </button>
        <button nz-button nzSuccess nzType="primary" [nzSize]="'large'" [nzShape]="'round'" (click)="saveChanges()">
            Save
        </button>
    </div>
    }
</div>