<div class="flex items-center justify-between gap-x-[10px] text-lg px-4 py-2">
    <div class="relative w-full flex items-center gap-x-[10px] overflow-auto">
        <nz-segmented [ngClass]="'w-full'" [nzSize]="'default'" [(ngModel)]="selectedTransit"
            (nzValueChange)="onTransitChange($event)" [nzDisabled]="currentTrip.gtfsId ? false : false">
            @for (sequence of currentSequences; track sequence; let index = $index) {
            <label nz-segmented-item [ngClass]="'flex-1'" [nzValue]="index" [nzDisabled]="sequence.mode === 'WALK'">
                <div class="relative" [style.paddingTop.px]="5">
                    <i [ngClass]="transportMode[sequence?.mode || 'ERROR'].icon"></i>
                    <small class="absolute top-[-25%] left-1/2 -translate-x-1/2 whitespace-nowrap">
                        {{ getModeName(sequence) }}
                    </small>
                </div>
            </label>
            }
        </nz-segmented>
    </div>
</div>

<!--div
    style="position: absolute; left: 0; top: 0; bottom: 0; overflow: auto; width: 250px; background: black; color: white;">
    <pre>{{currentTrip.allStops | json}}</pre>
</!--div-->

<ng-container *ngIf="currentTrip?.gtfsId; else noTrip">
    <nz-tabset class="scrollable-content h-[calc(100%-110px)] !pb-2 !px-4"
        (nzSelectedIndexChange)="onTabIndexChange($event)">
        <div *nzTabBarExtraContent="'start'">
            <div class="transport-number-badge border" [ngStyle]="{
                        'color': currentTrip.transportInfo?.vehicle?.textColor,
                        'background-color': currentTrip.transportInfo?.vehicle?.backgroundColor
                    }">
                {{currentTrip.transportInfo?.vehicle?.name}}
            </div>
        </div>
        <nz-tab nzTitle="Trip">
            @if (currentTrip.transportInfo?.isFinished) {
            <div class="relative">
                <div
                    class="sticky top-[10px] h-[22px] flex justify-end font-bold px-[10px] text-[var(--color-success)]">
                    <span class="pt-1">Trip has finished</span>
                </div>

                <nz-timeline [nzMode]="'right'">
                    @for (segmentStop of currentTrip.allStops; let first = $first; let last = $last; track
                    segmentStop?.station?.gtfsId) {
                    <nz-timeline-item [nzLabel]="' '" [nzDot]="outTripDotTemplate">
                        <div [ngClass]="{
                        'font-bold': segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId 
                                    || segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId
                        }">
                            <span>{{segmentStop.station.name}}</span>
                        </div>
                    </nz-timeline-item>
                    }
                </nz-timeline>
            </div>
            }
            @if (!currentTrip.transportInfo?.isFinished) {
            <nz-timeline [nzMode]="'right'">
                @for (segmentStop of currentTrip.allStops; let index = $index; let first = $first; let last = $last;
                track segmentStop?.station?.gtfsId + '-' + index) {
                @if (segmentStop?.station?.gtfsId !== currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId &&
                segmentStop?.station?.gtfsId !== currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId &&
                segmentStop.station.gtfsId !== currentTrip.transportInfo?.station?.gtfsId) {
                <nz-timeline-item [nzLabel]="first && !currentTrip.transportInfo?.transportId ? 'upcoming' : undefined"
                    [nzDot]="segmentStop?.station?.tripStop ? inTripDotTemplate : outTripDotTemplate">
                    <div>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId &&
                segmentStop.station.gtfsId !== currentTrip.transportInfo?.station?.gtfsId) {
                <!-- [nzDot]="segmentStop?.station?.isPassed ? originDotTemplate : inTripDotTemplate"> -->
                <nz-timeline-item [nzLabel]="originLabelTemplate"
                    [nzDot]="currentOriginStop?.station?.isPassed ? originDotTemplate : inTripDotTemplate">
                    <div class="flex items-baseline justify-between gap-2.5 font-bold text-[16px]"
                        [ngClass]="currentOriginStop?.station?.isPassed ? 'text-[var(--color-error)]' : ''">
                        <i class="fa-solid fa-arrow-down-long"></i>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId &&
                segmentStop.station.gtfsId !== currentTrip.transportInfo?.station?.gtfsId) {
                <nz-timeline-item
                    [nzLabel]="currentDestinationStop.station.isArrived ? destinationLabelTemplate : undefined"
                    [nzDot]="currentDestinationStop.station.isArrived ? destinationDotTemplate : inTripDotTemplate">
                    <div class="flex items-baseline justify-between gap-2.5 font-bold text-[16px]"
                        [ngClass]="currentDestinationStop.station.isArrived ? 'text-[var(--color-success)]' : ''">
                        <i class="fa-solid fa-flag"></i>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId &&
                segmentStop.station.gtfsId === currentTrip.transportInfo?.station?.gtfsId &&
                this.currentDestinationStop.station.isArrived) {
                <nz-timeline-item [nzLabel]="destinationLabelTemplate" [nzDot]="destinationDotTemplate">
                    <div class="font-bold text-[16px] text-[var(--color-success)]">
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId &&
                segmentStop.station.gtfsId === currentTrip.transportInfo?.station?.gtfsId) {
                <nz-timeline-item [nzLabel]="currentOriginStopLabelTemplate" [nzDot]="currentOriginStopDotTemplate">
                    <div #transportCurrentPosition
                        class="flex items-baseline justify-between gap-2.5 font-bold text-[16px]">
                        <i class="fa-solid fa-arrow-down-long"></i>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId === currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId &&
                segmentStop.station.gtfsId === currentTrip.transportInfo?.station?.gtfsId &&
                !this.currentDestinationStop.station.isArrived) {
                <nz-timeline-item [nzLabel]="currentStopLabelTemplate" [nzDot]="currentStopDotTemplate">
                    <div #transportCurrentPosition
                        class="flex items-baseline justify-between gap-2.5 font-bold text-[16px]">
                        <i class="fa-solid fa-flag"></i>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                @if (segmentStop?.station?.gtfsId !== currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId &&
                segmentStop?.station?.gtfsId !== currentRoute?.sequences?.[selectedTransit]?.destination?.gtfsId &&
                segmentStop.station.gtfsId === currentTrip.transportInfo?.station?.gtfsId) {
                <nz-timeline-item [nzLabel]="currentStopLabelTemplate" [nzDot]="currentStopDotTemplate">
                    <div #transportCurrentPosition>
                        <span>{{segmentStop.station.name}}</span>
                    </div>
                </nz-timeline-item>
                }
                }
            </nz-timeline>
            }

        </nz-tab>
        <nz-tab [nzTitle]="(currentTrip && currentTrip.alerts && currentTrip.alerts.length) ? infoTemplate : 'Info'">
            <ng-template #infoTemplate>
                <nz-icon [nzType]="'eye'" class="!text-[var(--color-error)]" /> Info
            </ng-template>
            <div #infoTabContainer class="grid gap-8 pb-8">
                @if (currentTrip && currentTrip.alerts && currentTrip.alerts.length) {
                <div class="grid gap-2">
                    @for (alert of currentTrip.alerts; track alert) {
                    <nz-card>
                        <div class="grid gap-2">
                            <div class="flex justify-center">
                                <i class="text-2xl" [ngClass]="tripAlert[alert.severityLevel].icon"
                                    [style.color]="'var(' + tripAlert[alert.severityLevel].color + ')'">
                                </i>
                            </div>
                            <div class="flex justify-center">
                                <span class="text-center" [innerHTML]="alert.text | safeHtml"></span>
                            </div>
                            <div class="flex justify-between">
                                <div>{{alert.startDate}}</div>
                                <nz-progress [nzType]="'line'" [nzShowInfo]="false" [nzPercent]="alert.endProgress"
                                    [nzSteps]="10" nzStrokeColor="#1890ff"></nz-progress>
                                <div>{{alert.endDate || 'Unknown end date'}}</div>
                            </div>
                            @if (alert.endProgress) {
                            <div class="flex justify-center">
                                <span class="text-center">{{alert.endProgress}} %</span>
                            </div>
                            }
                        </div>
                    </nz-card>
                    }
                </div>
                }
                <!--@else {-->
                <div class="flex gap-2 dark-mode-text">
                    <!--nz-icon nzType="check-circle" nzTheme="outline" class="!text-[var(--color-success)]" /-->
                    <!--span>No alert, everything's all right.</!--span-->
                    @if (!currentTrip.services.info.length) {
                    <div class="grid grid-cols-[auto_1fr] gap-x-2 gap-y-1 pr-2 items-center">
                        <i
                            [ngClass]="[currentTrip.services.bikesAllowed.icon, 'text-[var(' + currentTrip.services.bikesAllowed.color + ')]', 'text-lg']">
                        </i>
                        <span>{{currentTrip.services.bikesAllowed.label}}</span>
                        <i
                            [ngClass]="[currentTrip.services.wheelchairAccessible.icon, 'text-[var(' + currentTrip.services.wheelchairAccessible.color + ')]', 'text-lg']">
                        </i>
                        <span>{{currentTrip.services.wheelchairAccessible.label}}</span>
                    </div>
                    }
                    @else {
                    <div class="grid grid-cols-[auto_1fr] gap-x-2 gap-y-1 pr-2 items-center">
                        @for (service of currentTrip.services.info; track service.name) {
                        <i [ngClass]="[service.icon, 'text-[var(' + service.color + ')]', 'text-lg']"></i>
                        <div class="flex gap-x-2">
                            <span>{{service.name}}</span>
                            @if (service.color === '--color-error') {
                            <span [ngClass]="'text-[var(' + service.color + ')]'">(status code missing)</span>
                            }
                        </div>
                        }
                        <!--pre>{{currentTrip.services | json}}</pre-->
                    </div>
                    }
                </div>
                <!--}-->
            </div>
        </nz-tab>
    </nz-tabset>
</ng-container>

<ng-template #originLabelTemplate>
    <div #transportCurrentPosition class="flex items-center justify-between gap-x-[10px]">
        @if (currentOriginStop?.delay?.departureDelay) {
        <div class="flex gap-x-[5px] items-center">
            <span
                [ngClass]="currentOriginStop?.delay?.status === 'early' ? 'text-[var(--color-warning)]' : 'text-[var(--color-error)]'">
                {{currentOriginStop?.delay?.delayedStartTime}}
            </span>
            <small><del>{{currentOriginStop?.delay?.scheduledStartTime}}</del>
            </small>
            <span>{{!currentTrip.transportInfo?.transportId ? 'upcoming' : ''}}</span>
        </div>
        }
        @else {
        <span>{{currentRoute?.sequences?.[selectedTransit]?.origin?.scheduledStartTime}}
            {{currentRoute?.sequences?.[selectedTransit]?.origin?.gtfsId === currentTrip.allStops[0].station.gtfsId
            ? 'upcoming' : ''}}</span>
        }
        @if (currentOriginStop?.station?.isPassed) {
        <span class="mr-1 text-[var(--color-error)] font-bold">PASSED</span>
        }
        @else if (currentOriginStop?.delay?.status) {
        <nz-badge class="status-badge small p-2" [ngStyle]="{'margin-right': '16px'}" [ngClass]="{
            'success': currentOriginStop?.delay?.status === 'on time',
            'error': currentOriginStop?.delay?.status === 'late',
            'warning': currentOriginStop?.delay?.status === 'early'
            }" [nzCount]="currentOriginStop?.delay?.departureDelay">
            <span>{{currentOriginStop?.delay?.status}}</span>
        </nz-badge>
        }
    </div>
</ng-template>

<ng-template #destinationLabelTemplate>
    <div class="flex items-center justify-end text-[var(--color-success)]">
        <div class="mr-1 font-bold">ARRIVED</div>
    </div>
</ng-template>

<!--ng-template #originDotTemplate>
    <nz-icon
        [nzType]="currentOriginStop?.station?.isPassed ? 'stop' : currentOriginStop?.delay?.departureDelay ? 'clock-circle-o' : 'check-circle'"
        [ngStyle]="{ color: currentOriginStop?.station?.isPassed ? '#ff4d4f' : (currentOriginStop?.delay?.status === 'early' ? '#faad14' : currentOriginStop?.delay?.departureDelay ? '#ff4d4f' : '#52c41a') }"
        style="font-size: 16px;" />
</!--ng-template-->

<ng-template #originDotTemplate>
    <nz-icon [nzType]="'stop'" [ngStyle]="{ color: '#ff4d4f' }" style="font-size: 16px;" />
</ng-template>

<ng-template #destinationDotTemplate>
    <nz-icon [nzType]="'check-circle'" [ngStyle]="{ color: '#52c41a' }" style="font-size: 16px;" />
</ng-template>

<ng-template #currentStopLabelTemplate>
    <div
        class="inline-grid grid-cols-[auto_1fr] gap-[5px] leading-none items-center bg-[var(--color-light-grey)] p-[5px] rounded-[5px] dark-mode-background dark-mode-border mr-1">
        <i [ngClass]="currentTrip.transportInfo?.vehicle?.status | stopStatus:'icon'"
            [ngStyle]="{color: 'var(' + (currentTrip.transportInfo?.vehicle?.status | stopStatus:'color') + ')'}"></i>
        <span>{{currentTrip.transportInfo?.vehicle?.status | stopStatus:'label'}}</span>
        <i class="fa-fw fa-solid fa-gauge-high"></i>
        <span>{{currentTrip.transportInfo?.vehicle?.speed | km}}</span>
    </div>
</ng-template>

<ng-template #currentStopDotTemplate>
    <i class="text-xl" [ngClass]="transportMode[currentTrip.transportInfo?.mode || 'ERROR'].icon"></i>
</ng-template>

<ng-template #currentOriginStopLabelTemplate>
    <div>
        <div
            class="inline-grid gap-x-1 items-center bg-[var(--color-light-grey)] p-[5px] rounded-[5px] dark-mode-background dark-mode-border mr-1">
            <div class="text-right">
                <nz-badge class="status-badge small p-2" [ngStyle]="{'margin-right': '8px'}" [ngClass]="{
                        'success': currentOriginStop?.delay?.status === 'on time',
                        'error': currentOriginStop?.delay?.status === 'late',
                        'warning': currentOriginStop?.delay?.status === 'early'
                        }" [nzCount]="currentOriginStop?.delay?.departureDelay">
                    <span>{{currentOriginStop?.delay?.status}}</span>
                </nz-badge>
            </div>
            @if (currentOriginStop?.delay?.departureDelay) {
            <div class="flex gap-x-[5px] items-center">
                <span
                    [ngClass]="currentOriginStop?.delay?.status === 'early' ? 'text-[var(--color-warning)]' : 'text-[var(--color-error)]'">
                    {{currentOriginStop?.delay?.delayedStartTime}}
                </span>
                <small><del>{{currentOriginStop?.delay?.scheduledStartTime}}</del>
                </small>
            </div>
            }
            @else {
            <span>{{currentRoute?.sequences?.[selectedTransit]?.origin?.scheduledStartTime}}</span>
            }
            <div class="grid grid-cols-[auto_1fr] gap-x-1 items-center">
                <i [ngClass]="currentTrip.transportInfo?.vehicle?.status | stopStatus:'icon'"
                    [ngStyle]="{color: 'var(' + (currentTrip.transportInfo?.vehicle?.status | stopStatus:'color') + ')'}"></i>
                <span>{{currentTrip.transportInfo?.vehicle?.status | stopStatus:'label'}}</span>
                <i class="fa-fw fa-solid fa-gauge-high"></i>
                <span>{{currentTrip.transportInfo?.vehicle?.speed | km}}</span>
            </div>
        </div>
        @if (currentOriginStop?.station?.isPassed) {
        <span class="mr-1 text-[var(--color-error)] font-bold">PASSED</span>
        }
        <!-- @else {
        <div class="self-start">
            <nz-badge class="status-badge small p-2" [ngStyle]="{'margin-right': '16px'}" [ngClass]="{
            'success': currentOriginStop?.delay?.status === 'on time',
            'error': currentOriginStop?.delay?.status === 'late',
            'warning': currentOriginStop?.delay?.status === 'early'
            }" [nzCount]="currentOriginStop?.delay?.departureDelay">
                <span>{{currentOriginStop?.delay?.status}}</span>
            </nz-badge>
        </div>
        } -->
    </div>
</ng-template>

<ng-template #currentOriginStopDotTemplate>
    <i class="text-xl" [ngClass]="transportMode[currentTrip.transportInfo?.mode || 'ERROR'].icon"></i>
</ng-template>

<ng-template #inTripDotTemplate>
    <i class="fa-solid fa-circle-dot text-[var(--color-info)]"></i>
    <!--nz-icon nzType="circle-o" style="font-size: 16px;" /-->

    <!--div style="position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 100px;"></!--div-->
</ng-template>

<ng-template #outTripDotTemplate>
    <i class="fa-solid fa-circle-dot text-[var(--color-mid-opacity-black)]"></i>
    <!--nz-icon nzType="circle-o" style="font-size: 16px;" /-->

    <!--div style="position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 100px;"></!--div-->
</ng-template>

<ng-template #noTrip>
    <div class="flex items-center justify-center gap-1 h-[calc(100%-110px)] px-4 py-2">
        @if (tripIsLoading) {
        <nz-spin></nz-spin>
        }
        @else {
        <i class="fa-solid fa-road-circle-exclamation text-xl text-[var(--color-error)]"></i>
        <span class="font-bold">Trip currently unavailable.</span>
        }
    </div>
</ng-template>