$primary-color: #1890ff;

$light-grey-color: #f0f0f0;
$white-color: #ffffff;
$black-color: #000000;

$high-opacity-black-color: #00000001;
$mid-opacity-black-color: #00000050;
$low-opacity-black-color: #00000099;

$info-color: #1890ff;
$warning-color: #faad14;
$success-color: #52c41a;
$error-color: #ff4d4f;

$background-color: #392c33;