<div class="relative text-2xl dark-mode-text text-[var(--color-mid-opacity-black)] cursor-pointer " longPress
        (longPressed)="toggleFavouriteRoute()" [longPressDisabled]="favouriteLongPressDisabled()"
        (timeCollapseWhilePressing)="onFavouriteLoading($event)" (pressCancelled)="pressCancelled()"
        (click)="openFavouritesModal()">
        <i class="fa-fw fa-solid fa-heart dark-mode-text text-[var(--color-mid-opacity-black)]"></i>
        <i class="fa-fw fa-solid fa-heart absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-[var(--color-error)] transition-[clip-path] duration-300 ease-in-out"
                fillProgress [fillPercent]="fillPercent" [fillDirection]="'top-to-bottom'" [invertFill]="true"
                [disableClipPath]="false"></i>
</div>