@use '../variables/colors' as color;

div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
    background-color: color.$mid-opacity-black-color;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    // border: 3px solid orange;
    /* creates padding around scroll thumb */
}